@page
@model GamesModel
@{
    ViewData["Title"] = "Home page";
}
@section Head{
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/roulette/style.css?rnd=04" />
    <style>
        .btn-purple {
            background-color: #9a186e !important;
            color: #ffffff !important;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none !important;
            border-color: #9a186e !important;
        }

        .title {
            color: #9a186e !important;
            font-size: 60px;
            margin: 40px;
        }

        .gamesContent {
            background-image: url("../images/Logos/cerpentinas.png");
            background-size: contain; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
            -webkit-background-size: contain; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
            -moz-background-size: contain; /* optional for Firefox 3.6 */
            -o-background-size: contain; /* for Opera 9.5 */
            margin: 0; /* to remove the default white margin of body */
            padding: 0; /* to remove the default white margin of body */
            background-repeat: no-repeat;
        }
        button {
            box-shadow: unset !important;
        }
    </style>
}
@section Scripts{

    <script type="text/javascript">
        var client = window.localStorage.getItem("client");

        if (client == null) {
            window.location.href = "Index";
        }
    </script>
}

<div class="row">
    <div class="col-md-12" style="margin: auto;">
        <img style="width:350px;" src="~/images/Logos/logo-remodela.png?rdn=1">
    </div>
</div>

<div class="row gamesContent">
    <div class="col-md-12" style="margin: auto;">
        &nbsp;
    </div>
    <div class="col-md-12 " style="margin: auto;">
        <h1 class="title"> ¿Qué quieres jugar hoy?</h1>
    </div>
    <br />
    <br />
    <div class="col-md-2" style="margin: auto;">
        &nbsp;
    </div>
    <div class="col-md-4" style="margin: auto;">
        <img src="~/images/Logos/icono-ruleta.png" style="width:140px" />
    </div>
    <div class="col-md-4" style="margin: auto;">
        <img src="~/images/Logos/icono-concentrese.png" style="width:160px" />
    </div>
    <div class="col-md-2" style="margin: auto;">
        &nbsp;
    </div>
    <div class="col-md-2" style="margin: auto;">
        &nbsp;
    </div>
    <div class="col-md-4" style="margin: auto;">
        <a href="Roulette" class="btn-purple">&nbsp;&nbsp;&nbsp;RULETA&nbsp;&nbsp;&nbsp;</a>
    </div>
    <div class="col-md-4" style="margin: auto;">
        <a href="Memory" class="btn-purple">CONCÉNTRESE</a>
    </div>
    <div class="col-md-2" style="margin: auto;">
        &nbsp;
    </div>
</div>
