@page
@model IndexModel
@{
    ViewData["Title"] = "Concéntrese";
}
@section Head{
    <link href="~/js/sweetalert/sweetalert.css" rel="stylesheet" />
    @*<link href="~/js/memory/css/materialize.min.css?rdn=0" rel="stylesheet" />*@
    <!--memory-->
    <link href="~/js/memory/css/memory.css?rdn=12" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/roulette/style.css?rnd=04" />

    <style>
        button {
            background-color: #9a186e !important;
        }

        .timer-content {
            background-color: #9a186e !important;
            border-radius: 14px;
        }

        .title {
            color: #9a186e !important;
            font-size: 40px;
            margin: 40px;
            font-weight: bold !important;
        }

        .btn-purple {
            background-color: #9a186e !important;
            color: #ffffff !important;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none !important;
            border-color: #9a186e !important;
            font-size: 33px !important;
        }

        .gamesContent {
            background-image: url("../images/Logos/cerpentinas.png");
            background-size: contain; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
            -webkit-background-size: contain; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
            -moz-background-size: contain; /* optional for Firefox 3.6 */
            -o-background-size: contain; /* for Opera 9.5 */
            margin: 0; /* to remove the default white margin of body */
            padding: 0; /* to remove the default white margin of body */
            background-repeat: no-repeat;
        }
    </style>
}
@section Scripts{
    <!--Begin - scripts-->
    <script src="~/js/sweetalert/sweetalert.js"></script>
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--memory-->
    <script src="~/js/memory/js/memory.js?rnd=05"></script>
    <script src="~/js/memory/js/utils.js"></script>

    <script type="text/javascript">
        var client = window.localStorage.getItem("client");

        if (client == null) {
            window.location.href = "Index";
        }
    </script>
}
<div class="content-test">
    <div id="game" class="align-center" style="display: none">
        <div id="start">
            <div class="row" style="margin-bottom: 0px; height: 200px; background-image: url(../images/Ambientes/Banner-CHC.png); background-size: cover">
                <div class="col-md-10 row" style="margin: auto;">
                    <div class="col-6 col-md-6" style="margin: auto;">
                        <img class="icon-logo-m" src="~/images/Logos/logo-remodela.png?rdn=1">
                    </div>
                    <div class="col-6 col-md-6" style="margin: auto;">
                        <img class="icon-m-m" src="~/images/Logos/icono-concentrese.png" />
                    </div>
                </div>
            </div>
            <div id="endScoreView" class="row gamesContent" style="display: none; margin-top:50px;">
                <div class="col-md-12" style="margin: auto;">
                    &nbsp;
                </div>
                <div class="col-md-12 " style="margin: auto;">
                    <h1 class="title"> !Se acabó el tiempo¡</h1>
                </div>
                <div class="col-md-12 " style="margin: auto;margin-bottom:180px">
                    &nbsp;   &nbsp; &nbsp;  <a id="tryagain" href="Memory" class="btn-purple start tryagain">REINTENTAR</a>  &nbsp;   &nbsp; &nbsp;
                </div>
               
            </div>
        </div>
        <div id="go" class="" style="display:none">
            <div class="row" style="margin-bottom: 0px; height: 200px; background-image: url(../images/Ambientes/Banner-CHC.png); background-size: cover">
                <div class="col-md-10 row" style="margin: auto;">
                    <div class="col-6 col-md-6" style="margin: auto;">
                        <img class="icon-logo-m" src="~/images/Logos/logo-remodela.png?rdn=1">
                    </div>
                    <div class="col-6 col-md-6" style="margin: auto;">
                        <img class="icon-m-m" src="~/images/Logos/icono-concentrese.png" />
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:20px">
                <div class="col-md-2 timer-content time-m-w" style="margin: auto;">
                    <div class="timer text" style="font: bold; display: block;height: 80px !important;">
                        <label id="minutes" style="font: bold; "></label>
                        <label id="twopoints" style="font: bold;">:</label>
                        <label id="seconds" style="font: bold; "></label>
                    </div>
                </div>
            </div>

            <div id="cards-container" class="cards-container">
                <div class="flip-container " id="card-template">
                    <div class="flipper">
                        <div id="backCard" class="front" style="">
                            <label></label>
                        </div>
                        <div class="back">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
