@page
@model IndexModel
@{
    ViewData["Title"] = "Concéntrese";
}
@section Head{
    <link href="~/js/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/js/memory/css/materialize.min.css" rel="stylesheet" />
    <!--memory-->
    <link href="~/js/memory/css/memory.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/roulette/style.css?rnd=04" />

    <style>
        button {
            background-color: #9a186e !important;
        }

        .timer-content {
            background-color: #9a186e !important;
            border-radius: 14px;
        }
    </style>
}
@section Scripts{
    <!--Begin - scripts-->
    <script src="~/js/sweetalert/sweetalert.js"></script>
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--memory-->
    <script src="~/js/memory/js/memory.js"></script>
    <script src="~/js/memory/js/utils.js"></script>

    <script type="text/javascript">
        var client = window.localStorage.getItem("client");

        if (client == null) {
            window.location.href = "Index";
        }
    </script>
}
<div class="content-test">
    <div id="game" class="align-center" style="display: none">
        <div id="start">
            <div class="row">
                <div class="col-md-6" style="margin: auto;background-color:">
                    <img style="width:300px;" src="~/images/Logos/logo-remodela.png?rdn=1">
                </div>
                <div class="col-md-6" style="margin: auto;">
                    <img style="width: 280px;" src="~/images/Logos/icono-concentrese.png" />
                </div>
            </div>

            <div id="endScoreView" class="" style="display: none; margin-top:450px;margin-left: 50px;margin-right: 50px;color:#0298FF">
                <br />
                <div>
                    <div style="font-size:100px;text-align: center; color:white;margin-top: 253px;">
                        <span>Tu puntaje fue <span id="endScore" style="margin-bottom: 0px;"></span></span>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <div style="font-size:70px;text-align: center; color:white">
                        <img id="tryagain" width="40%" class="start tryagain" src="https://whowantstobemillionaire.blob.core.windows.net/images/new-game-ISA.png">
                    </div>
                </div>
            </div>

            <div id="" class="heading btn-start" style="margin-top: 50px">
                <button id="btn-start" class="start">COMENZAR!</button>
            </div>
        </div>
        <div id="go" class="" style="display:none">
            <div class="row" style="margin-bottom: 0px;">
                <div class="col-md-10 row" style="margin: auto;">
                    <div class="col-md-6" style="margin: auto;">
                        <img style="width:250px;" src="~/images/Logos/logo-remodela.png?rdn=1">
                    </div>
                    <div class="col-md-6" style="margin: auto;">
                        <img style="width: 220px;" src="~/images/Logos/icono-concentrese.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 timer-content" style="margin: auto;">
                    <div class="timer text" style="font: bold; display: block;height: 80px !important;">
                        <label id="minutes" style="font: bold; "></label>
                        <label id="twopoints" style="font: bold;">:</label>
                        <label id="seconds" style="font: bold; "></label>
                    </div>
                </div>
            </div>

            <div id="cards-container" class="cards-container">
                <div class="flip-container " id="card-template">
                    <div class="flipper">
                        <div id="backCard" class="front" style="">
                            <label></label>
                        </div>
                        <div class="back">
                            <label></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
