@page
@model ResultModel
@{
    ViewData["Title"] = "Home page";
}
@section Head{
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/roulette/style.css?rnd=04" />
    <style>
        .btn-purple {
            background-color: #9a186e !important;
            color: #ffffff !important;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none !important;
        }

        .title {
            color: #9a186e !important;
            font-size: 60px;
            margin: 40px;
        }

        .gamesContent {
            background-image: url("../images/Logos/cerpentinas.png");
            background-size: contain; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
            -webkit-background-size: contain; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
            -moz-background-size: contain; /* optional for Firefox 3.6 */
            -o-background-size: contain; /* for Opera 9.5 */
            margin: 0; /* to remove the default white margin of body */
            padding: 0; /* to remove the default white margin of body */
            background-repeat: no-repeat;
        }
    </style>
}
@section Scripts{

    @*app js*@
    <script src="~/js/app/result.js?rnd=03"></script>
    <script type="text/javascript">
        $(function () {
            preinit();
        });
    </script>
}

<div class="row">
    <div class="col-md-12" style="margin: auto;">
        <img style="width:350px;" src="~/images/Logos/logo-remodela.png?rdn=1">
    </div>
</div>

<div class="row gamesContent">
    <div class="col-md-12" style="margin: auto;">
        &nbsp;
    </div>
    <br />
    <br />
    <br />
    <div class="col-md-12 " style="margin: auto;">
        <img data-bind="attr:{src: game.prizeImageUrl()}" src="#"  style="width:700px;"/>
    </div>
</div>
